* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	outline: none;
    text-decoration: none;
}
		
body {
	background-color: #1B1E2F;
}
.main {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}
#player,
#dplayer,
#img {
	border-radius: 10px;
	max-width: 100%;
    height: auto;
    max-height: 100%;
}
.btn-g {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.btn-g>.btn {
    margin: 0 2vw;
}






.url>a {
    margin-right: 0.5rem;
    text-decoration: none;
}
.btn:focus {
    box-shadow: none;
}
.btn:active {
    box-shadow: none;
}
.tishi {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 1rem 5%;
    background-color: rgb(0,0,0,0.7);
    display: none;
}
.tishi>p {
    display: block;
    margin-bottom: 0;
    color: #fff;
    font-size: 1rem;
    float: left;
}
#gb-ts {
    display: block;
    background-color: transparent;
    font-size: 35px;
    outline: none;
    border:none;
    color: #fff;
    line-height: 20px;
    float: right;
}